.wrapper{
    border: 2px solid black;
    width: 150px;
    height: 150px;
}


.blok {
    width: 150px;
    height: 150px;
    border: 2px solid red;
}


.newClass {
    border: 2px solid rgb(0, 255, 85);
    background: green;
}